@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer base {
  .prose {
    --tw-prose-body: #3f3f46;
    --tw-prose-headings: #18181b;
    --tw-prose-links: #2563eb;
    --tw-prose-bold: #18181b;
    --tw-prose-counters: #71717a;
    --tw-prose-bullets: #d4d4d8;
    --tw-prose-hr: #e4e4e7;
    --tw-prose-quotes: #18181b;
    --tw-prose-quote-borders: #e4e4e7;
    --tw-prose-captions: #71717a;
    --tw-prose-code: #18181b;
    --tw-prose-pre-code: #f4f4f5;
    --tw-prose-pre-bg: #18181b;
    --tw-prose-th-borders: #d4d4d8;
    --tw-prose-td-borders: #e4e4e7;
  }
}
